jupyterlab
tqdm
ipykernel
black
black[jupyter]
pylint
pytest
pytest-cov
python-dotenv
#------------------
numpy
pandas

langchain
langchain-community
langchain-experimental
langchain-fireworks
langchain_openai
tabulate
wikipedia